body {
  color: black;
  font-family: "montserratregular";
  font-size: 16px;
  position: relative;
}

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

p {
  font-family: "montserratlight";
  font-size: 0.875em;
}

.text-white {
  color: white;
}

.text-red {
  color: #bf0811;
}

@font-face {
  font-family: 'montserratregular';
  src: url("./../fonts/montserrat-regular.eot");
  src: url("./../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-regular.woff2") format("woff2"), url("./../fonts/montserrat-regular.woff") format("woff"), url("./../fonts/montserrat-regular.ttf") format("truetype"), url("./../fonts/montserrat-regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratmedium';
  src: url("./../fonts/montserrat-medium.eot");
  src: url("./../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-medium.woff2") format("woff2"), url("./../fonts/montserrat-medium.woff") format("woff"), url("./../fonts/montserrat-medium.ttf") format("truetype"), url("./../fonts/montserrat-medium.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url("./../fonts/montserrat-semibold.eot");
  src: url("./../fonts/montserrat-semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-semibold.woff2") format("woff2"), url("./../fonts/montserrat-semibold.woff") format("woff"), url("./../fonts/montserrat-semibold.ttf") format("truetype"), url("./../fonts/montserrat-semibold.svg#montserratsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url("./../fonts/montserrat-light.eot");
  src: url("./../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-light.woff2") format("woff2"), url("./../fonts/montserrat-light.woff") format("woff"), url("./../fonts/montserrat-light.ttf") format("truetype"), url("./../fonts/montserrat-light.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'albret';
  src: url("./../fonts/albret.eot");
  src: url("./../fonts/albret.eot?#iefix") format("embedded-opentype"), url("./../fonts/albret.woff2") format("woff2"), url("./../fonts/albret.woff") format("woff"), url("./../fonts/albret.ttf") format("truetype"), url("./../fonts/albret.svg#albret") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("./../fonts/icomoon.eot?bmgg4u");
  src: url("./../fonts/icomoon.eot?bmgg4u#iefix") format("embedded-opentype"), url("./../fonts/icomoon.ttf?bmgg4u") format("truetype"), url("./../fonts/icomoon.woff?bmgg4u") format("woff"), url("./../fonts/icomoon.svg?bmgg4u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e907";
}

.icon-google-plus:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-close:before {
  content: "\e90c";
}

.icon-keyboard_arrow_up:before {
  content: "\e900";
}

.icon-keyboard_arrow_right:before {
  content: "\e901";
}

.icon-keyboard_arrow_left:before {
  content: "\e902";
}

.icon-keyboard_arrow_down:before {
  content: "\e903";
}

.icon-arrow_upward:before {
  content: "\e908";
}

.icon-arrow_forward:before {
  content: "\e909";
}

.icon-arrow_downward:before {
  content: "\e90a";
}

.icon-arrow_back:before {
  content: "\e90b";
}

.Button {
  display: inline-block;
  font-family: "montserratmedium";
  font-size: 0.875em;
  padding: 15px 25px;
}
.Button--medium {
  padding: 15px;
}
.Button:hover, .Button:focus {
  text-decoration: none;
}
.Button--red {
  background-color: #bf0811;
  color: white;
}
.Button--red:hover, .Button--red:focus {
  background-color: #fff;
  color: black;
}
.Button--red--invert:hover, .Button--red--invert:focus {
  background-color: #fe4431;
  color: white;
}
.Button--white {
  background-color: #fff;
  color: black;
}
.Button--white:hover, .Button--white:focus {
  background-color: #fe4431;
  color: white;
}
.Button--border {
  border: 1px solid black;
}
.Button--border:hover, .Button--border:focus {
  border-color: #fe4431;
}

.ArrowTop {
  background-color: #fe4431;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  bottom: 25px;
  color: #f2f2f2;
  display: none;
  height: 50px;
  position: fixed;
  right: 25px;
  width: 50px;
}

.Icons::before {
  background-image: url("./../images/sprites.png");
  background-repeat: no-repeat;
  content: "";
  display: block;
}
.Icons--bars::before {
  background-position: 0 0;
  height: 30px;
  width: 30px;
}

.Form .form-control {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: black;
  font-family: "montserratlight";
  font-size: 1em;
  height: auto;
  padding: 10px 12px;
}
.Form .form-control:-moz-placeholder {
  color: black;
  font-family: "montserratlight";
  font-size: 1em;
}
.Form .form-control::-moz-placeholder {
  color: black;
  font-family: "montserratlight";
  font-size: 1em;
}
.Form .form-control:-ms-input-placeholder {
  color: black;
  font-family: "montserratlight";
  font-size: 1em;
}
.Form .form-control::-webkit-input-placeholder {
  color: black;
  font-family: "montserratlight";
  font-size: 1em;
}
.Form textarea.form-control {
  height: 120px;
}
.Form button[type="submit"] {
  border: none;
}
.Form .Form-loader {
  color: white;
  display: inline-block;
  font-size: 2em;
  margin-left: 10px;
  vertical-align: middle;
}

.Header {
  left: 0;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.Header.affix {
  padding: 0;
  z-index: 99;
}
.Header.affix .Header-top {
  margin-top: -35px;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.Header.affix .Header-menu {
  background-color: #fff;
}
.Header.affix .Header-main {
  padding: 10px 25px;
}
@media screen and (max-width: 991px) {
  .Header.affix .Header-main {
    padding: 10px 0;
  }
}
@media screen and (max-width: 991px) {
  .Header {
    background-color: #fff;
    padding: 0;
  }
}

.Header-menu {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Header-top {
  margin-top: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.Header-top h3 {
  margin: 0;
  padding-left: 15px;
}

.Header-social {
  margin-bottom: 15px;
}

.Header-social-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-left: 0;
}
.Header-social-list li {
  font-size: 0.875em;
  list-style: none;
  margin-right: 30px;
}
.Header-social-list li:last-child {
  margin-bottom: 0;
}
.Header-social-list li a {
  color: white;
}
.Header-social-list li a:hover, .Header-social-list li a:focus {
  color: #bf0811;
  text-decoration: none;
}

.Header-main {
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  padding: 20px 25px;
}
@media screen and (max-width: 991px) {
  .Header-main {
    padding: 10px 0;
  }
}

.Header-logo {
  margin: 0;
}

.Header-nav {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

.Header-nav-list {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 0;
}
.Header-nav-list li {
  font-family: "montserratsemibold";
  font-size: .75em;
  list-style: none;
  margin: 0 20px;
  text-transform: uppercase;
}
.Header-nav-list li a {
  color: black;
  display: block;
  padding: 0;
}
.Header-nav-list li a:hover, .Header-nav-list li a:focus {
  background-color: transparent;
  text-decoration: none;
}
.Header-nav-list li a::after {
  background-color: transparent;
  content: "";
  display: block;
  height: 3px;
  margin: 7px auto 0;
  width: 80%;
}
.Header-nav-list li a.Button {
  font-family: "montserratsemibold";
  font-size: 1em;
  padding: 15px;
}
.Header-nav-list li a.Button::after {
  display: none;
}
.Header-nav-list li a.Button:hover, .Header-nav-list li a.Button:focus {
  background-color: #fe4431;
  color: white;
}
.Header-nav-list li.active a::after, .Header-nav-list li:hover a::after, .Header-nav-list li:focus a::after {
  background-color: #fe4431;
}
.Header-nav-list li.active a.Button, .Header-nav-list li:hover a.Button, .Header-nav-list li:focus a.Button {
  background-color: #fe4431;
  border-color: #fe4431;
  color: white;
}

.Header-toggle .Icons {
  cursor: pointer;
}

.Carousel--home .carousel-indicators {
  bottom: 100px;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
}
.Carousel--home .carousel-indicators li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-indicators li {
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-indicators {
    bottom: 15px;
  }
}
.Carousel--home .carousel-control {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: none;
  width: 8%;
}
.Carousel--home .carousel-control.left, .Carousel--home .carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
.Carousel--home .carousel-control i[class^="icon-"] {
  background-color: #bf0811;
  padding: 5px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Carousel--home .carousel-control:hover i[class^="icon-"], .Carousel--home .carousel-control:focus i[class^="icon-"] {
  background-color: #fff;
  color: #bf0811;
}
.Carousel--home .carousel-caption {
  -webkit-align-content: center;
  align-content: center;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 0;
  padding: 0;
  right: 0;
  text-shadow: none;
  top: 0;
  width: 50%;
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-caption {
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
  }
}
.Carousel--home .Caption {
  margin-bottom: 15px;
  margin-top: 0;
  width: 100%;
}
.Carousel--home .Caption-slogan {
  color: black;
  font-family: "montserratregular";
  font-size: 1em;
  font-style: italic;
}
.Carousel--home .Caption-title {
  color: white;
  font-family: "albret";
  font-size: 8.75em;
}
@media screen and (max-width: 991px) {
  .Carousel--home .Caption-title {
    font-size: 6em;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Carousel--home .Caption-title {
    font-size: 5em;
  }
}
.Carousel--home .Caption-background {
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
}
.Carousel--home .Caption-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.Carousel--home .Caption-buttons .Button {
  margin-right: 20px;
}
.Carousel--home .Caption-buttons .Button:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Carousel--home .Caption-buttons .Button {
    margin-right: 15px;
    padding: 15px;
  }
}
.Carousel--about {
  min-height: 750px;
  padding-top: 90px;
}
@media screen and (max-width: 991px) {
  .Carousel--about {
    padding-top: 50px;
  }
}
.Carousel--about .item img {
  border: 8px solid #212121;
}
.Carousel--about .carousel-caption {
  bottom: auto;
  left: auto;
  margin: 30px auto;
  padding: 0;
  position: relative;
  right: auto;
  text-shadow: none;
  top: auto;
  width: 60%;
}
@media screen and (max-width: 991px) {
  .Carousel--about .carousel-caption {
    width: 80%;
  }
}
.Carousel--about .carousel-caption p {
  color: black;
  font-size: 1.125em;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .Carousel--about .carousel-caption p {
    font-size: 1em;
  }
}
.Carousel--about .Caption-title {
  font-family: "montserratsemibold";
  font-size: 2em;
  font-style: italic;
  margin-top: 0;
}
.Carousel--about .Caption-slogan {
  color: black;
  font-family: "montserratmedium";
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 0;
}
.Carousel--about .carousel-control {
  background-color: transparent;
  bottom: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: none;
  top: 280px;
  width: auto;
}
.Carousel--about .carousel-control:focus, .Carousel--about .carousel-control:hover {
  color: #fe4431;
}
.Carousel--about .carousel-control.right, .Carousel--about .carousel-control.left {
  background-image: none;
  background-repeat: no-repeat;
}
.Carousel--about .carousel-control.right {
  right: 30%;
}
@media screen and (max-width: 991px) {
  .Carousel--about .carousel-control.right {
    right: 20%;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Carousel--about .carousel-control.right {
    right: 15px;
  }
}
.Carousel--about .carousel-control.left {
  left: 30%;
}
@media screen and (max-width: 991px) {
  .Carousel--about .carousel-control.left {
    left: 20%;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Carousel--about .carousel-control.left {
    left: 15px;
  }
}
@media screen and (max-width: 991px) {
  .Carousel--about .carousel-control {
    top: 220px;
  }
}

.Page {
  background-color: #f2f2f2;
  padding: 58px 0 0;
  position: relative;
}
@media screen and (max-width: 991px) {
  .Page {
    padding-top: 74px;
  }
}
.Page--carousel::before {
  background-color: #212121;
  content: "";
  display: block;
  height: 260px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.Page--contact {
  background-color: #191919;
}

.Services-wrapper {
  margin-top: -120px;
  min-height: 650px;
}
@media screen and (max-width: 991px) {
  .Services-wrapper {
    margin-top: -80px;
  }
}
.Services-wrapper .bx-wrapper {
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 100%;
}
.Services-wrapper .bx-wrapper .bx-controls-direction {
  margin-top: 15px;
  text-align: center;
}
.Services-wrapper .bx-wrapper .bx-prev, .Services-wrapper .bx-wrapper .bx-next {
  background: none;
  border: 1px solid #212121;
  color: #212121;
  display: inline-block;
  font-size: 2em;
  height: auto;
  left: auto;
  line-height: 1.1em;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  right: auto;
  text-indent: initial;
  top: auto;
  width: auto;
  z-index: 1;
}
.Services-wrapper .bx-wrapper .bx-prev:hover, .Services-wrapper .bx-wrapper .bx-prev:focus, .Services-wrapper .bx-wrapper .bx-next:hover, .Services-wrapper .bx-wrapper .bx-next:focus {
  border-color: #bf0811;
  color: #bf0811;
  text-decoration: none;
}
.Services-wrapper .bx-wrapper .bx-prev {
  margin-right: 20px;
}

.Services-item {
  min-height: 500px;
}

.Services-data {
  background-color: #fff;
  padding: 20px;
}
.Services-data p {
  color: #282828;
  font-family: "montserratlight";
  font-size: 0.875em;
}

.Services-title {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  margin-top: 0;
}

.Contact {
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.Contact-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .Contact-wrapper {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.Contact-form {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .Contact-form {
    width: 100%;
  }
}
.Contact-form .Form {
  margin: 25px auto;
  width: 70%;
}
@media screen and (max-width: 767px) {
  .Contact-form .Form {
    width: 100%;
  }
}

.Slidebar {
  background-color: #bf0811;
  -webkit-align-content: space-between;
  align-content: space-between;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  margin-left: -70%;
  padding: 15px 0;
  position: fixed;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: 0;
  width: 70%;
  z-index: 9999;
}
@media screen and (max-width: 450px) {
  .Slidebar {
    margin-left: -90%;
    width: 90%;
  }
}
.Slidebar.active {
  margin-left: 0;
}

.Slidebar-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
}

.Slidebar-logo {
  margin: 0;
}

.Slidebar-close {
  color: white;
  font-size: 3em;
}
.Slidebar-close i[class^="icon-"] {
  cursor: pointer;
}

.Slidebar-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.Slidebar-nav-list {
  margin-bottom: 0;
  padding-left: 10%;
  width: 100%;
}
.Slidebar-nav-list::after {
  background-color: #ff7176;
  content: "";
  display: block;
  height: 1px;
  width: 90%;
}
.Slidebar-nav-list li {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  font-family: "montserratmedium";
  font-size: 1.25em;
  height: 50px;
  list-style: none;
  margin-bottom: 15px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .Slidebar-nav-list li {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 400px) {
  .Slidebar-nav-list li {
    height: 40px;
    margin-bottom: 10px;
  }
}
.Slidebar-nav-list li a {
  color: white;
  display: block;
}
.Slidebar-nav-list li a::after {
  background-color: transparent;
  content: "";
  display: block;
  height: 4px;
  width: 26px;
}
.Slidebar-nav-list li a:hover, .Slidebar-nav-list li a:focus {
  text-decoration: none;
}
.Slidebar-nav-list li.active, .Slidebar-nav-list li:hover, .Slidebar-nav-list li:focus {
  border-right: 10px solid white;
}
.Slidebar-nav-list li.active a::after, .Slidebar-nav-list li:hover a::after, .Slidebar-nav-list li:focus a::after {
  background-color: white;
}
.Slidebar-nav-list > li > a {
  padding: 0;
}
.Slidebar-nav-list > li > a:focus, .Slidebar-nav-list > li > a:hover {
  background-color: transparent;
}

.Slidebar-social {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 10%;
  width: 80%;
}
.Slidebar-social h3 {
  font-family: "montserratmedium";
  margin-bottom: 20px;
  margin-top: 0;
  width: 100%;
}
.Slidebar-social h3 span {
  display: block;
  font-size: 1.67em;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .Slidebar-social h3 span {
    font-size: 1.5em;
  }
}

.Slidebar-social-nav {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.Slidebar-social-nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
.Slidebar-social-nav-list li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2em;
  list-style: none;
  text-align: center;
}
.Slidebar-social-nav-list li a {
  color: white;
}
.Slidebar-social-nav-list li a:hover {
  color: #282828;
  text-decoration: none;
}

.Slidebar-button {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.Backdrop {
  background-color: black;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;
}
.Backdrop.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.Backdrop.in {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
