.Header {
  left: 0;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  &.affix {
    padding: 0;
    z-index: 99;
    .Header-top {
      margin-top: -35px;
      @include translateY(-100%);
    }
    .Header-menu {
      background-color: #fff;
    }
    .Header-main {
      padding: 10px 25px;
      @media screen and (max-width: 991px) {
        padding: 10px 0;
      }
    }
  }
  @media screen and (max-width: 991px) {
    background-color: #fff;
    padding: 0;
  }
}
.Header-menu {
  @include transition(all 0.5s ease);
}
.Header-top {
  margin-top: 0;
  @include transition(all 0.2s ease);
  @include translateY(0);
  h3 {
    margin: 0;
    padding-left: 15px;
  }
}
.Header-social {
  margin-bottom: 15px;
}
.Header-social-list {
  @include display-flex();
  @include justify-content(flex-end);
  margin-bottom: 0;
  padding-left: 0;
  li {
    font-size: 0.875em;
    list-style: none;
    margin-right: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: white;
      &:hover, &:focus {
        color: $red;
        text-decoration: none;
      }
    }
  }
}
.Header-main {
  background-color: #fff;
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);
  @include transition(all 0.6s ease-in);
  padding: 20px 25px;
  @media screen and (max-width: 991px) {
    padding: 10px 0;
  }
}
.Header-logo {
  margin: 0;
}
.Header-nav {
  @include align-items(center);
  @include display-flex();
}
.Header-nav-list {
  @include align-items(center);
  @include display-flex();
  @include justify-content(flex-end);
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 0;
  li {
    font-family: "montserratsemibold";
    font-size: .75em;
    list-style: none;
    margin: 0 20px;
    text-transform: uppercase;
    a {
      color: black;
      display: block;
      padding: 0;
      &:hover, &:focus {
        background-color: transparent;
        text-decoration: none;
      }
      &::after {
        background-color: transparent;
        content: "";
        display: block;
        height: 3px;
        margin: 7px auto 0;
        width: 80%;
      }
      &.Button {
        font-family: "montserratsemibold";
        font-size: 1em;
        padding: 15px;
        &::after {
          display: none;
        }
        &:hover, &:focus {
          background-color: $redSoft;
          color: white;
        }
      }
    }
    &.active, &:hover, &:focus {
      a {
        &::after {
          background-color: $redSoft;
        }
        &.Button {
          background-color: $redSoft;
          border-color: $redSoft;
          color: white;
        }
      }
    }
  }
}
.Header-toggle {
  .Icons {
    cursor: pointer;
  }
}
