.Page {
  background-color: $white;
  padding: 58px 0 0;
  position: relative;
  @media screen and (max-width: 991px) {
    padding-top: 74px;
  }
  &--carousel {
    &::before {
      background-color: $black;
      content: "";
      display: block;
      height: 260px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &--contact {
    background-color: $blackDark;
  }
}
