.Services-wrapper {
  margin-top: -120px;
  min-height: 650px;
  @media screen and (max-width: 991px) {
    margin-top: -80px;
  }
  .bx-wrapper {
    background-color: transparent;
    border: none;
    @include box-shadow(none);
    .bx-controls-direction {
      margin-top: 15px;
      text-align: center;
    }
    .bx-prev, .bx-next {
      background: none;
      border: 1px solid $black;
      color: $black;
      display: inline-block;
      font-size: 2em;
      height: auto;
      left: auto;
      line-height: 1.1em;
      margin-top: 0;
      overflow: hidden;
      position: relative;
      right: auto;
      text-indent: initial;
      top: auto;
      width: auto;
      z-index: 1;
      &:hover, &:focus {
        border-color: $red;
        color: $red;
        text-decoration: none;
      }
    }
    .bx-prev {
      margin-right: 20px;
    }
  }
}
.Services {

}
.Services-item {
  min-height: 500px;
}
.Services-figure {

}
.Services-data {
  background-color: #fff;
  padding: 20px;
  p {
    color: $blackSoft;
    font-family: "montserratlight";
    font-size: 0.875em;
  }
}
.Services-title {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  margin-top: 0;
}
