.Services {

}
.Services-item {

}
.Services-figure {

}
.Services-data {
  background-color: #fff;
  padding: 20px;
  p {
    color: $blackSoft;
    font-family: "montserratlight";
    font-size: 0.875em;
  }
}
.Services-title {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  margin-top: 0;
}
